/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.form-container {
  background: #ffffff0a;
  margin-top: 5px !important;
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 5px 20px rgba(29, 23, 23, 0.13);
  max-height: fit-content;
  width: 95%;
  margin: auto;
  height: 30%;
  /* Uncomment and use if needed */
  /* max-width: 400px; */
}

.form-container label {
  font-weight: bold;
  font-size: 1rem;
  color: #333131;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-bottom: 1px solid rgb(156, 142, 142);
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus {
  border-color: #646cff;
  outline: none;
}
.submit-btn{
  width: 95%;
  display: flex;
  justify-content: center;
}


.form-container button {
  width: 20%;
  height: 30%;
  padding: 0.5rem;
  background: linear-gradient(to right, #9933ff 36%, #6666ff 82%);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background: linear-gradient(to right, #48489b 36%,  #502d72 82% );
  box-shadow: 1px 5px 20px rgba(37, 28, 28, 0.267);
  transform: scale(1.02);
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  
}

.group-container {
  padding: 10px;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.group-container div {
  margin-left: 14px;
  width: 30% !important;
}

.input-field {
  display: flex;
  flex-direction: column;
}

/* table css */
.table-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 5px 20px rgba(37, 28, 28, 0.267);
  position: relative;
}
th{
  padding: .9rem !important;
  background-color: rgba(224, 224, 224, 0.932);
}

th, td {
  padding: .5rem;
  border:.2px solid rgba(83, 75, 75, 0.336);
  border-radius: 10%;
  text-align: center;
  text-transform:none;
}

td .button-group{
  padding: .5rem;
  border:.2px solid rgba(83, 75, 75, 0.521);
  border-radius: 10%;
  text-align: center;
  text-transform:none;
}
.btn-span{
  width: 20%;
  background: whitesmoke;
  border: 1px solid rgba(50, 47, 247, 0.363);
  border-radius: 5px;
  padding: 3px;
  color: rgba(50, 47, 247, 0.699);
  margin-left: 5px;

}
.btn-span button{
  width: 5%;
}
.btn-span:hover{
  border: 1px solid rgb(97, 96, 156);
  color: rgb(97, 96, 156);
  transition: color 1s;
  transform: scale(1.1);
}

.button-group {
  display: flex;
  justify-content: space-evenly;
}

 .icon {
  background: linear-gradient(to right, #9933ff 36%, #6666ff 82%);
  width: 40%;
  color: rgba(255, 255, 255, 0.671);
  border-radius: .6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: large;
}
.icon:hover{
background: linear-gradient(to right, #48489b 36%,  #502d72 82% );
transition: background 2s;
color: rgba(255, 255, 255, 0.9);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
transform: scale(1.1);
}
header{
  width: 95%;
 
 
}
.header-group{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header-group input[type="text"]{
  padding: 0.3rem;
  border: .5px solid rgba(20, 20, 46, 0.253);
  border-bottom: 1px solid rgb(156, 142, 142);
  border-radius:5px ;
}
.header-group input[type="text"]:focus {
  border-color: #646cff;
  outline: none;
}


.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination span {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination span.active {
  background-color: #6666ff;
  color: white;
  border-color: #6666ff;
}


/* app css */
.app-container {
  background-color: #f0f1f410;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.component-break {
  width: 100%;
  color: black;
}

.hr-tag {
  width: 100%;
  font-size: larger;
  height: 1px;
  background: #ffffff;
}
